@charset "ISO-8859-1";




H1
{
	max-width: 1000px;
	margin:0 auto;
	background:radial-gradient(circle at 78.58% 50%, #bafdff 0, #88ddfc 25%, #40b8e1 50%, #0094c7 75%, #0076b2 100%);;
	padding: 30px;
	color:white;
	text-align:center;
	padding:15px 500px 15px 500px;
	border-radius:0px;
    font-family:Arial;  
    font-zise:18px;
}


footer{
	max-width: 1000px;
	margin:0 auto;
	background:#494343;
	padding: 30px;
	color:white;
	text-align:center;
	padding:15px 500px 15px 500px;
	
    font-family:Arial;  
    font-zise:18px;
}
#seccionA{
	width:300px;
	background:#FFFFFF;
	opacity:0.9;
	color:#000000;
	margin:auto;
	
	
	
}
#tablas{
	
	background:#FFFFFF;
	opacity:0.9;
	color:#000000;
	margin:auto;
    padding: 0px 500px 0px 0px;
	
	
}
#seccionB{
	width:300px;
	background:#FFFFFF;
	opacity:0.9;
	color:#000000;
	margin:auto;
	margin-top:1px;	
	
}

#boton {
        padding:1px;
        background:#FFFFFF;
        color:white;
        font:bold 10px/10px verdana;
        width:100px;
        cursor:pointer;
        cursor:hand;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    
    .form-register {
  width: 400px;
  /* background: #24303c; */
  padding: 30px;
  margin: auto; 
  margin-top: 100px;
 /*  border-radius: 4px; */
  font-family: 'calibri';
  color: black;
 /*  box-shadow: 7px 13px 37px #000; */
}

tr{
float:left;
width:150px;
margin-bottom:10px; /*or whatever you want the spacing to be*/
}
input{
float:left;
width:150px;
margin-bottom:10px; /*or whatever you want the spacing to be*/
}
